* {
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
    font-family: "Bleeker Cyrillic", "Coats Regular";
    box-sizing: border-box;
    transition: all 0.5s;
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Coats Regular";
    src: url(../fonts/Coats/CoatsRegular.otf);
}

@font-face {
    font-family: "Bleeker Cyrillic";
    src: url(../fonts/BleekerCyrillic/BleekerCyrillic.ttf);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
}

/* header */

header {
    background-color: #FAF2D2;
}

.cont_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo p {
    font-size: 48px;
    color: #BA5C34;
    font-family: "Coats Regular";
}

input {
    width: 300px;
    border: 1px #BA5C34 solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
}

header a {
    background-color: #BA5C34;
    color: white;
    padding: 15px 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    font-size: 20px;
}

header a:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.line {
    width: 50px;
    height: 5px;
    background-color: #BA5C34;
    cursor: pointer;
}
/* header */

/* banner */
.banner {
    background-image: url(../media/banner/banner.png);
    height: 550px;
    position: relative;
    background-size: cover;
}

.banner_cont {
    padding: 115px 70px;
}

h1 {
    font-size: 48px;
    color: #FAF2D2;
}

.banner_cont a {
    position: absolute;
    bottom: 123px;
    right: 750px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #BA5C34;
    color: #FAF2D2;
    padding: 15px 30px;
    font-size: 32px;
}

.banner_cont a:hover {
    transform: scale(1.1);
    background-color: #FAF2D2;
    color: #BA5C34;
}
/* banner */

/* catalog */
.catalog {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.catalog h2 {
    color: #BA5C34;
    text-align: center;
    font-size: 36px;
}

.categories {
    display: flex;
    justify-content: center;
    gap: 70px;
    cursor: pointer;
}

.categories .open {
    background: #BA5C34;
    color: #FAF2D2;
}

.categ {
    background-color: #FAF2D2;
    color: #BA5C34;
    padding: 5px 30px;
    border-radius: 7px;
    font-size: 24px;
}

.categ:hover {
    transform: scale(1.1);
    background: #BA5C34;
    color: #FAF2D2;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    align-items: center;
}

.card {
    border: #BA5C34 1px solid;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 50px;
}

.card img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 194.17px;
}

.name {
    font-size: 24px;
    margin-bottom: 10px;
}

.group {
    font-size: 16px;
    color: #BA5C34;
}

.price {
    text-align: right;
    font-size: 24px;
    margin-bottom: 20px;
}

.info a {
    font-size: 20px;
    background-color: #BA5C34;
    color: #FAF2D2;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0;
}

.info a:hover {
    transform: scale(0.9);
}

.catalog .more {
    font-size: 20px;
    background-color: #BA5C34;
    color: #FAF2D2;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 10px 0;
}

.catalog .more:hover {
    transform: scale(1.1);
}

/* catalog */

/* advantages */
.advantages {
    background-color: #FAF2D2;
    padding: 50px;
}

.adv_cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_adv {
    text-align: center;
   
}

.card_adv p {
    color: #BA5C34;
    font-size: 32px;
}
/* advantages */

/* promo */
.promo {
    background-color: #BA5C34;
    padding: 50px 0;
}

.promo h2 {
    text-align: center;
    color: #FAF2D2;
}

.promo_cont {
    padding: 30px auto;
    display: flex;
    justify-content: space-between;
}

.left {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.left p {
    color: #FAF2D2;
}

.left .info_promo {
    font-size: 32px;
    width: 423px;
}

.correction {
    font-size: 14px;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.right p {
    color: #FAF2D2;
    font-size: 20px;
}

.right a {
    font-size: 24px;
    color: #BA5C34;
    background-color: #FAF2D2;
    border-radius: 10px;
    padding: 5px 190px;
}

.right a:hover {
    transform: scale(1.1);
}
/* promo */

/* reviews */
.reviews {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px 0;
}

.reviews h2 {
    color: #BA5C34;
    text-align: center;
}

.cards_rev {
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.card_rev {
    border: 3px solid #BA5C34;
    border-radius: 30px;
    padding: 30px;
    background-color: #FAF2D2;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 200px;
}

.card_rev p {
    color: #BA5C34;
    width: 300px;
}

.top {
    display: flex;
    gap: 20px;
    align-items: center;
}

.top p {
    font-size: 20px;
    width: 240px;
}

.slider {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.point {
    background-color: #BA5C34;
    border-radius: 30px;
    width: 15px;
    height: 15px;
}

.point:hover {
    transform: scale(1.2);
}

.big {
    width: 20px;
    height: 20px;
}
/* reviews */

/* contacts */
.contacts {
    position: relative;
    background-color: #FAF2D2;
    height: 370px;
}

.tg_big {
    position: absolute;
    left: 200px;
    top: 0;
}

.vk_big {
    position: absolute;
    right: 100px;
    bottom: -20px;
}

.contacts_cont {
    background-image: url(../media/contacts/contacts.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 636px;
    height: 267px;
    position: absolute;
    left: 555px;
    bottom: 0;
    padding: 30px 100px;
}

.contacts_cont p {
    width: 440px;
    font-size: 24px;
    color: #FAF2D2;
}

.center {
    text-align: center;
}

.social {
    position: absolute;
    right: 110px;
    padding-top: 15px;
}
/* contacts */

/* footer */
footer {
    background-color: #BA5C34;
    height: 240px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

.footer a {
    color: #FAF2D2;
    font-size: 16px;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo_footer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logo_footer p {
    color: #FAF2D2;
    font-size: 48px;
    font-family: "Coats Regular";
}

.info_footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
}
/* footer */

/* autorization */
.autorization {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.autorization h2 {
    text-align: center;
    color: #BA5C34;
}

.autorization_info {
    display: flex;
    gap: 100px;
}

.left_auto {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #BA5C34;
    padding: 50px 60px;
    border-radius: 50px;
}

.left_auto p {
    font-size: 40px;
    color: #FAF2D2;
    width: 380px;
}

.right_auto {
    display: flex;
    flex-direction: column;
}

.right_auto form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right_auto form label {
    font-size: 28px;
    color: #BA5C34;
}

.right_auto form .checkbox {
    
    width: 15px;
    height: 15px;
}

.right_auto form .checkbox_label {
    font-size: 12px;
} 

.right_auto input {
    border-radius: 10px;
    border: #BA5C34 3px solid;
    background-color: #FAF2D2;
    margin-bottom: 20px;
}

.checkbox_all {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    justify-content: start;
}

.checkbox_all a {
    color: #BA5C34;
}

.right_auto form .btn {
    background-color: #BA5C34;
    color: #FAF2D2;  
    cursor: pointer;
}

.entry {
    position: absolute;
    right: 70px;
    bottom: 25px;
    font-size: 16px;
    color: #BA5C34;
    text-decoration: underline;
}
/* autorization */

/* entry */
.entry_block {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.entry_block h2 {
    color: #BA5C34;
}

.entry_block form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 28px;
    color: #FAF2D2;
}

.entry_block_bg {
    background-color: #BA5C34;
    padding: 50px 60px;
    border-radius: 50px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.entry_block_bg a {
    background: #FAF2D2;
    color: #BA5C34;
    border-radius: 10px;
    padding: 10px 60px;
    font-size: 28px;
    text-align: center;
}

.entry_block_bg img {
    position: absolute;
    bottom: 120px;
    right: 30px;
}

.pas {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pas input {
    background-color: #FAF2D2;
}

.pas .short {
    width: 200px;
}
/* entry */

/* product */
.product_more {
    margin-top: 250px;
    display: flex;
    gap: 50px;
}

.img_prod {
    border: 3px #BA5C34 solid;
    padding: 0px 80px 0px ;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.about {
    color: #BA5C34;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.about .norm {
    font-size: 20px;
    height: 225px;
    width: 300px
}

.about .bigger {
    font-size: 32px;
}

.right {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #FAF2D2;
    padding: 20px;
    border: #BA5C34 1px solid;
    border-radius: 20px;
}

.top .price_prod {
    font-size: 32px;
    text-align: center;
}

.top p {
    color: #BA5C34;
}

.pay {
    display: flex;
    gap: 10px;
}

.rev {
    display: flex;
    gap: 10px;
}

.rev p {
    color: #BA5C34;
}

.product_more .right a {
    font-size: 24px;
    color: #BA5C34;
    background-color: #FAF2D2;
    border: 1px #BA5C34 solid;
    border-radius: 10px;
    padding: 10px 50px;
}
/* product */